# Dependency directories
node_modules/
.yarn/

# Build output
.next/

# Config files
.idea/
.vscode/

# Environment files
.env*
.env.local

# Lock files
yarn.lock

# SSH Keys (should never be committed)
*.ssh
